@model TTTN_Travel.Models.Tintuc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tentintuc" class="control-label"></label>
                <input asp-for="Tentintuc" class="form-control" accept="image/*" />
                <span asp-validation-for="Tentintuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" required class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tomtat" class="control-label"></label>
                <input asp-for="Tomtat" class="form-control" />
                <span asp-validation-for="Tomtat" class="text-danger"></span>
            </div>

            <div class="form-group" style="width:1000px">
                <label asp-for="Chitiet" class="control-label"></label>
                <!--<input asp-for="Chitiet" class="form-control" id="inputDescription" name="Description" placeholder="Mô tả chi tiết" required />-->
                <textarea asp-for="Chitiet" class="form-control"></textarea>
                <script language="javascript">
                    CKEDITOR.replace("Chitiet", {
                        customConfig: '/assets/admin/js/plugins/ckeditor/config.js',
                        htmlEncodeOutput: true
                    });
                </script>
                <!--<input asp-for="Chitiet" class="form-control" name="Description" />-->
                <span asp-validation-for="Chitiet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-sm btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
@*        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
*@
    var editor = CKEDITOR.replace('Chitiet', {
            customConfig: '/assets/admin/js/plugins/ckeditor/config.js',
            htmlEncodeOutput: true
        });
</script>