
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout_Page.cshtml";
}
<section class="content-page-about-us">
    <div class="container">
        <div id="crumbs"><a href="/Home/Index">Trang chủ</a> » <span class="current">Khách hàng nói về chúng tôi</span></div>	<div class="row">
            <div class="col-md-9">
                <div class="show-about-us">
                    <h1>
                        Khách hàng nói về chúng tôi
                    </h1>
                    <div class="addtoany_shortcode"><div class="a2a_kit a2a_kit_size_18 addtoany_list" data-a2a-url="https://tourre.vn/khach-hang-noi-ve-chung-toi/" data-a2a-title="Khách hàng nói về chúng tôi" style="line-height: 18px;"><a class="a2a_button_facebook" href="/#facebook" title="Facebook" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_facebook" style="background-color: rgb(24, 119, 242); width: 18px; line-height: 18px; height: 18px; background-size: 18px; border-radius: 3px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M17.78 27.5V17.008h3.522l.527-4.09h-4.05v-2.61c0-1.182.33-1.99 2.023-1.99h2.166V4.66c-.375-.05-1.66-.16-3.155-.16-3.123 0-5.26 1.905-5.26 5.405v3.016h-3.53v4.09h3.53V27.5h4.223z"></path></svg></span><span class="a2a_label">Facebook</span></a><a class="a2a_button_twitter" href="/#twitter" title="Twitter" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_twitter" style="background-color: rgb(85, 172, 238); width: 18px; line-height: 18px; height: 18px; background-size: 18px; border-radius: 3px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M28 8.557a9.913 9.913 0 0 1-2.828.775 4.93 4.93 0 0 0 2.166-2.725 9.738 9.738 0 0 1-3.13 1.194 4.92 4.92 0 0 0-3.593-1.55 4.924 4.924 0 0 0-4.794 6.049c-4.09-.21-7.72-2.17-10.15-5.15a4.942 4.942 0 0 0-.665 2.477c0 1.71.87 3.214 2.19 4.1a4.968 4.968 0 0 1-2.23-.616v.06c0 2.39 1.7 4.38 3.952 4.83-.414.115-.85.174-1.297.174-.318 0-.626-.03-.928-.086a4.935 4.935 0 0 0 4.6 3.42 9.893 9.893 0 0 1-6.114 2.107c-.398 0-.79-.023-1.175-.068a13.953 13.953 0 0 0 7.55 2.213c9.056 0 14.01-7.507 14.01-14.013 0-.213-.005-.426-.015-.637.96-.695 1.795-1.56 2.455-2.55z"></path></svg></span><span class="a2a_label">Twitter</span></a><a class="a2a_button_email" href="/#email" title="Email" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_email" style="background-color: rgb(1, 102, 255); width: 18px; line-height: 18px; height: 18px; background-size: 18px; border-radius: 3px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M26 21.25v-9s-9.1 6.35-9.984 6.68C15.144 18.616 6 12.25 6 12.25v9c0 1.25.266 1.5 1.5 1.5h17c1.266 0 1.5-.22 1.5-1.5zm-.015-10.765c0-.91-.265-1.235-1.485-1.235h-17c-1.255 0-1.5.39-1.5 1.3l.015.14s9.035 6.22 10 6.56c1.02-.395 9.985-6.7 9.985-6.7l-.015-.065z"></path></svg></span><span class="a2a_label">Email</span></a><a class="a2a_button_pinterest" href="/#pinterest" title="Pinterest" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_pinterest" style="background-color: rgb(189, 8, 28); width: 18px; line-height: 18px; height: 18px; background-size: 18px; border-radius: 3px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M16.539 4.5c-6.277 0-9.442 4.5-9.442 8.253 0 2.272.86 4.293 2.705 5.046.303.125.574.005.662-.33.061-.231.205-.816.27-1.06.088-.331.053-.447-.191-.736-.532-.627-.873-1.439-.873-2.591 0-3.338 2.498-6.327 6.505-6.327 3.548 0 5.497 2.168 5.497 5.062 0 3.81-1.686 7.025-4.188 7.025-1.382 0-2.416-1.142-2.085-2.545.397-1.674 1.166-3.48 1.166-4.689 0-1.081-.581-1.983-1.782-1.983-1.413 0-2.548 1.462-2.548 3.419 0 1.247.421 2.091.421 2.091l-1.699 7.199c-.505 2.137-.076 4.755-.039 5.019.021.158.223.196.314.077.13-.17 1.813-2.247 2.384-4.324.162-.587.929-3.631.929-3.631.46.876 1.801 1.646 3.227 1.646 4.247 0 7.128-3.871 7.128-9.053.003-3.918-3.317-7.568-8.361-7.568z"></path></svg></span><span class="a2a_label">Pinterest</span></a><a class="a2a_button_linkedin" href="/#linkedin" title="LinkedIn" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_linkedin" style="background-color: rgb(0, 123, 181); width: 18px; line-height: 18px; height: 18px; background-size: 18px; border-radius: 3px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M6.227 12.61h4.19v13.48h-4.19V12.61zm2.095-6.7a2.43 2.43 0 0 1 0 4.86c-1.344 0-2.428-1.09-2.428-2.43s1.084-2.43 2.428-2.43m4.72 6.7h4.02v1.84h.058c.56-1.058 1.927-2.176 3.965-2.176 4.238 0 5.02 2.792 5.02 6.42v7.395h-4.183v-6.56c0-1.564-.03-3.574-2.178-3.574-2.18 0-2.514 1.7-2.514 3.46v6.668h-4.187V12.61z" fill="#FFF"></path></svg></span><span class="a2a_label">LinkedIn</span></a><a class="a2a_dd addtoany_share_save addtoany_share" href="https://www.addtoany.com/share#url=https%3A%2F%2Ftourre.vn%2Fkhach-hang-noi-ve-chung-toi%2F&amp;title=Kh%C3%A1ch%20h%C3%A0ng%20n%C3%B3i%20v%E1%BB%81%20ch%C3%BAng%20t%C3%B4i"><span class="a2a_svg a2a_s__default a2a_s_a2a" style="background-color: rgb(1, 102, 255); width: 18px; line-height: 18px; height: 18px; background-size: 18px; border-radius: 3px;"><svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="#FFF"><path d="M14 7h4v18h-4z"></path><path d="M7 14h18v4H7z"></path></g></svg></span><span class="a2a_label a2a_localize" data-a2a-localize="inner,Share">Chia sẻ</span></a></div></div>								<div class="content-show-page-abouts-us">
                        <p style="text-align: center;"><span style="font-size: 10pt;">Tháng 6 vừa rồi tôi có đặt chuyến tour cho gia đình đi thăm Huế, Hội An, Đà Nẵng, chuyến tour rất vui vẻ. Từ lái xe, hdv đến nhân viên nhà hàng luôn niềm nở và thân thiện và đưa gia đình tôi chuyến đi ý nghĩa trong dịp nghỉ vừa qua. Tôi chúc công ty luôn luôn là người bạn đồng hành tốt cho khách du lịch và mang đến cho khách hàng những dịch vụ tốt nhất. Tôi sẽ giới thiệu cho bạn bè về công ty các bạn.</span></p>
                        <p style="text-align: center;"><span style="font-size: 10pt;"><em>Nhận xét của khách hàng Cuong Dang </em></span></p>
                        <p style="text-align: center;"><span style="font-size: 10pt;"><em>&nbsp;</em></span></p>
                        <p style="text-align: center;"><span style="font-size: 10pt;">Nhân viên thân thiện nhiệt tình, tổ chức tour chuyên nghiệp và uy tín. Tôi sẽ đặt nhiều chuyến tour cho gia đình vào những dịp nghỉ hè tới vì dịch vụ tốt, giá cả hợp lý, tư vấn nhiệt tình.</span></p>
                        <p style="text-align: center;"><span style="font-size: 10pt;"><em>Nhận xét của khách hàng Linh Nguyen </em></span></p>
                        <p style="text-align: center;"><span style="font-size: 10pt;"><em>&nbsp;</em></span></p>
                        <p style="text-align: center;"><span style="font-size: 10pt;">Tôi và gia đình đã có một chuyến tour thăm vịnh Hạ Long trong ngày tuyệt vời cùng Tourre. Giá tour rất rẻ ngoài sức tưởng tượng. Đi về bằng đường cao tốc nên rất khỏe. Xe tour rất thoải mái có nước uống miễn phí và bác tài rất cẩn thận . Tàu thăm&nbsp; vịnh thì rất to và đẹp và sạch sẽ, đồ ăn cũng rất ngon và đa dạng, các điểm thăm quan thú vị như chèo Kayak, hàng Sửng Sốt, tắm biển ở Đảo Titop. Cảm ơn Tourre đã cho gia đình tôi những giây phút tuyệt vời</span></p>
                        <p style="text-align: center;"><em><span style="font-size: 10pt;">Nhận xét của khách hàng Snow Summer</span> </em></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar-aubout-us">
                    <div class="h3">
                        Du lịch Việt Nam
                    </div>
                    <div class="slider-about">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
                            <!-- Indicators -->
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/da-nang.jpg" alt="...">
                                    <div class="carousel-caption">
                                        <div class="h3"><a href="https://tourre.vn/da-nang/">  Đà Nẵng</a></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/ha-giang.jpg" alt="...">
                                    <div class="carousel-caption">
                                        <div class="h3"><a href="https://tourre.vn/ha-giang/">  Hà Giang</a></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/12/chua-tam-chuc.jpg" alt="...">
                                    <div class="carousel-caption">
                                        <div class="h3"><a href="https://tourre.vn/ha-nam/">  Hà Nam</a></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/ha-noi.jpg" alt="...">
                                    <div class="carousel-caption">
                                        <div class="h3"><a href="https://tourre.vn/ha-noi/">  Hà Nội</a></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/moc-chau.jpg" alt="...">
                                    <div class="carousel-caption">
                                        <div class="h3"><a href="https://tourre.vn/moc-chau/">  Mộc Châu</a></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/phu-quoc.jpg" alt="...">
                                    <div class="carousel-caption">
                                        <div class="h3"><a href="https://tourre.vn/nha-trang/">  Nha Trang</a></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/ninh-binh.jpg" alt="...">
                                    <div class="carousel-caption">
                                        <div class="h3"><a href="https://tourre.vn/ninh-binh/">  Ninh Bình</a></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/mui-ne.jpg" alt="...">
                                    <div class="carousel-caption">
                                        <div class="h3"><a href="https://tourre.vn/phu-quoc/">  Phú Quốc</a></div>
                                    </div>
                                </div>
                                <div class="item active">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/quang-ninh.jpg" alt="...">
                                    <div class="carousel-caption">
                                        <div class="h3"><a href="https://tourre.vn/quang-ninh/">  Quảng Ninh</a></div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/sapa-1.jpg" alt="...">
                                    <div class="carousel-caption">
                                        <div class="h3"><a href="https://tourre.vn/sapa/">  Sapa</a></div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/12/kham-pha-ho-nui-coc-thai-nguyen.jpg" alt="...">
                                    <div class="carousel-caption">
                                        <div class="h3"><a href="https://tourre.vn/thai-nguyen/">  Thái Nguyên</a></div>
                                    </div>
                                </div>
                                <div class="item ">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/thanh-hoa.jpg" alt="...">
                                    <div class="carousel-caption">
                                        <div class="h3"><a href="https://tourre.vn/thanh-hoa/">  Thanh Hóa</a></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <form action="https://tourre.vn/">
                        <div class="input-group">
                            <input type="text" class="form-control" value="" name="s" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </form>
                    <a href="https://tourre.vn/du-thuyen/du-thuyen-demo-2/"><img class="banner-page" src="https://tourre.vn/wp-content/uploads/2020/10/banner-test.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</section>

