
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Page.cshtml";
}
<section class="page-cate-parent">
    <div class="container">
        <div class="title-one-page">
            <div class="title-h1">
                Du lịch Việt Nam
            </div>
            <p>Việt Nam, Châu á</p>
        </div>
        <div class="slider-list-tinh">
            <div class="row">
                <div class="col-md-9">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="6" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="7" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="8" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="9" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="10" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="11" class=""></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                            <div class="item">
                                <img src="https://tourre.vn/wp-content/uploads/2020/11/ha-noi.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Hà Nội</div>
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>

                            <div class="item">
                                <img src="https://tourre.vn/wp-content/uploads/2020/11/ninh-binh.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Ninh Bình</div>
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>

                            <div class="item">
                                <img src="https://tourre.vn/wp-content/uploads/2020/11/quang-ninh.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Quảng Ninh</div>
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>

                            <div class="item">
                                <img src="https://tourre.vn/wp-content/uploads/2020/11/sapa-1.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Sapa</div>
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>


                            <div class="item">
                                <img src="https://tourre.vn/wp-content/uploads/2020/11/da-nang.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Đà Nẵng</div>
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>
                            <div class="item">
                                <img src="https://tourre.vn/wp-content/uploads/2020/11/ha-giang.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Hà Giang</div>
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>
                            <div class="item">
                                <img src="https://tourre.vn/wp-content/uploads/2020/12/chua-tam-chuc.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Hà Nam</div>
                                    <a href="/Places/LocalPlace">Chi tiết</a>
                                </div>
                            </div>
                            <div class="item active">
                                <img src="https://tourre.vn/wp-content/uploads/2020/11/ha-noi.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Hà Nội</div>
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>
                            <div class="item">
                                <img src="https://tourre.vn/wp-content/uploads/2020/11/moc-chau.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Mộc Châu</div>
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>
                            <div class="item">
                                <img src="https://tourre.vn/wp-content/uploads/2020/11/phu-quoc.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Nha Trang</div>
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>
                            <div class="item">
                                <img src="https://tourre.vn/wp-content/uploads/2020/11/ninh-binh.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Ninh Bình</div>
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>
                            <div class="item">
                                <img src="https://tourre.vn/wp-content/uploads/2020/11/mui-ne.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Phú Quốc</div>
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>
                            <div class="item">
                                <img src="https://tourre.vn/wp-content/uploads/2020/11/quang-ninh.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Quảng Ninh</div>
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>
                            <div class="item">
                                <img src="https://tourre.vn/wp-content/uploads/2020/11/sapa-1.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Sapa</div>
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>
                            <div class="item">
                                <img src="https://tourre.vn/wp-content/uploads/2020/12/kham-pha-ho-nui-coc-thai-nguyen.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Thái Nguyên</div>
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>
                            <div class="item">
                                <img src="https://tourre.vn/wp-content/uploads/2020/11/thanh-hoa.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="h3">Thanh Hóa</div>
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>

                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="content-next" style="margin-top: 20px;">
                        <div class="box-title">
                            <div class="h2 title-dl-vn">Điểm du lịch Việt Nam</div>
                        </div>
                        <div class="list-tinh-vn">
                            <div class="col-md-3">
                                <div class="content-tinh">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/ha-noi.jpg">
                                    <div class="h3"><a href="#">Hà Nội</a></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content-tinh">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/ninh-binh.jpg">
                                    <div class="h3"><a href="#">Ninh Bình</a></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content-tinh">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/quang-ninh.jpg">
                                    <div class="h3"><a href="#">Quảng Ninh</a></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content-tinh">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/sapa-1.jpg">
                                    <div class="h3"><a href="#">Sapa</a></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content-tinh">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/da-nang.jpg">
                                    <div class="h3"><a href="#">Đà Nẵng</a></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content-tinh">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/ha-giang.jpg">
                                    <div class="h3"><a href="#">Hà Giang</a></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content-tinh">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/12/chua-tam-chuc.jpg">
                                    <div class="h3"><a href="/Places/LocalPlace">Hà Nam</a></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content-tinh">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/moc-chau.jpg">
                                    <div class="h3"><a href="#">Mộc Châu</a></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content-tinh">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/phu-quoc.jpg">
                                    <div class="h3"><a href="#">Nha Trang</a></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content-tinh">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/mui-ne.jpg">
                                    <div class="h3"><a href="#">Phú Quốc</a></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content-tinh">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/12/kham-pha-ho-nui-coc-thai-nguyen.jpg">
                                    <div class="h3"><a href="#">Thái Nguyên</a></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="content-tinh">
                                    <img src="https://tourre.vn/wp-content/uploads/2020/11/thanh-hoa.jpg">
                                    <div class="h3"><a href="#">Thanh Hóa</a></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    
                    <div class="post-news">
                        <div class="box-title">
                            <div class="h2 title-dl-vn">Bài viết mới nhất</div>
                        </div>

                        @foreach (var ii in ViewBag.listNews)
                        {
                            <div class="box-sidebar-news">
                                <div class="col-md-4">
                                    <a href="/News/Detail?Id=@ii.Id"><img src="~/images/@ii.Anhtintuc"></a>
                                </div>
                                <div class="col-md-8">
                                    <div class="h3 title-right"><a href="/News/Detail?Id=@ii.Id"> @ii.Tomtat</a></div>

                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="view-tinh-most" style="margin-top: 20px;">
                <div class="box-title">
                    <div class="h2 title-dl-vn">Điểm xem nhiều nhất</div>
                </div>
                <div class="list-view-most">
                    <div class="col-md-3">
                        <div class="box-view-most">
                            <img src="https://tourre.vn/wp-content/uploads/2020/11/da-nang.jpg">
                            <div class="content-view-most">
                                <ul>
                                    <li>
                                        <a href="#"> <i class="fa fa-map-marker"></i> Đà Nẵng </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-align-justify"></i> Tổng quan du lịch </a>
                                    </li>
                                    <li>
                                        <a href="https://tourre.vn/kinh-nghiem-da-nang/">
                                            <i class="fa fa-map-marker"></i>
                                            Kinh nghiệm
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-view-most">
                            <img src="https://tourre.vn/wp-content/uploads/2020/11/ha-giang.jpg">
                            <div class="content-view-most">
                                <ul>
                                    <li>
                                        <a href="#"> <i class="fa fa-map-marker"></i> Hà Giang </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-align-justify"></i> Tổng quan du lịch </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-map-marker"></i>
                                            Giới thiệu
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-list-ul"></i>
                                            khách sạn
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-view-most">
                            <img src="https://tourre.vn/wp-content/uploads/2020/12/chua-tam-chuc.jpg">
                            <div class="content-view-most">
                                <ul>
                                    <li>
                                        <a href="/Places/LocalPlace"> <i class="fa fa-map-marker"></i> Hà Nam </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-align-justify"></i> Tổng quan du lịch </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-map-marker"></i>
                                            Địa điểm du lịch
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-list-ul"></i>
                                            Kinh nghiệm
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-view-most">
                            <img src="https://tourre.vn/wp-content/uploads/2020/11/ha-noi.jpg">
                            <div class="content-view-most">
                                <ul>
                                    <li>
                                        <a href="#"> <i class="fa fa-map-marker"></i> Hà Nội </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-align-justify"></i> Tổng quan du lịch </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-map-marker"></i>
                                            Khách sạn
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-list-ul"></i>
                                            Kinh nghiệm
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

