
@{
    ViewData["Title"] = "LocalPlace";
    Layout = "~/Views/Shared/_Layout_Page.cshtml";
}
<section class="page-cate-parent">
    <div class="container">
        <div class="title-one-page">
            <h1>Du lịch Hà Nam</h1>
            <p>Hà Nam, Châu á</p>
        </div>
        <div class="slider-list-tinh">
            <div class="row">
                <div class="col-md-9">
                    <div class="tabs-vn">
                        <ul>
                            <a href="https://tourre.vn/review-du-lich-chua-tam-chuc-1-ngay/">
                                <li>
                                    <i class="fa fa-audio-description"></i><br>
                                    Chi tiết
                                </li>
                            </a>
                            <a href="https://tourre.vn/dia-diem-du-lich-ha-nam/">
                                <li>
                                    <i class="fa fa-star"></i><br>
                                    Địa điểm du lịch
                                </li>
                            </a>
                            <a href="https://tourre.vn/kinh-nghiem-du-lich-ha-nam/">
                                <li>
                                    <i class="fa fa-list-ul"></i><br>
                                    Kinh nghiệm
                                </li>
                            </a>

                        </ul>
                    </div>
                    <div class="post-one-tinh">
                        <img src="https://tourre.vn/wp-content/uploads/2021/03/quan-the-chua-tam-chuc.jpg ">
                        <p>Bài viết này mình xin review chi tiết du lịch chùa Tam Chúc 1 ngày giúp các bạn chưa đi chùa hình dung được mọi thứ trước khi đi chúng ta cùng khám phá nhé..</p>
                        <div class="center-btn">
                            <a class="btn-redmore" href="https://tourre.vn/review-du-lich-chua-tam-chuc-1-ngay/"><i class="fa fa-audio-description"></i> Xem chi tiết</a>
                        </div>
                    </div>


                    <div class="post-ks">
                        <div class="box-title">
                            <div class="h2 title-dl-vn">ĐIỂM DU LỊCH NỔI BẬT</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="box-view-most">
                                    <a href="https://tourre.vn/chua-dia-tang-phi-lai-tu/"><img src="https://tourre.vn/wp-content/uploads/2021/03/dia-tang-phi-lai-min.jpg "></a>

                                    <div class="h3"><a href="https://tourre.vn/chua-dia-tang-phi-lai-tu/">Chùa Địa Tạng Phi Lai Tự</a></div>
                                    <p><i class="fa fa-map-marker" style="margin-right: 5px;"></i> thôn Ninh Trung, xã Liêm Sơn, huyện Thanh Liêm, Hà Nam						 		</p>
                                    <div class="chi-tiet-gia">
                                        <!-- 						 			<h4><span>Miễn phí</span></h4> -->
                                        <!-- 						 			<p><a href=""><i class="fa fa-map-o" style="margin-right: 5px; color: #000000"></i> Xem bản đồ</a></p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box-view-most">
                                    <a href="https://tourre.vn/chua-tam-chuc-ha-nam/"><img src="https://tourre.vn/wp-content/uploads/2020/12/chua-tam-chuc.jpg "></a>

                                    <div class="h3"><a href="https://tourre.vn/chua-tam-chuc-ha-nam/">Chùa Tam Chúc Hà Nam</a></div>
                                    <p><i class="fa fa-map-marker" style="margin-right: 5px;"></i> Thị Trấn Ba Sao, Hà Nam						 		</p>
                                    <div class="chi-tiet-gia">
                                        <!-- 						 			<h4><span>Miễn phí</span></h4> -->
                                        <!-- 						 			<p><a href=""><i class="fa fa-map-o" style="margin-right: 5px; color: #000000"></i> Xem bản đồ</a></p> -->
                                    </div>
                                </div>
                            </div>


                            <div class="center-btn">
                                <a class="btn-redmore" href="https://tourre.vn/dia-diem-du-lich-ha-nam/"><i class="fa fa-audio-description"></i> Xem thêm địa điểm</a>
                            </div>


                        </div>
                    </div>


                    <div class="post-ks">
                        <div class="box-title">
                            <div class="h2 title-dl-vn">Kinh nghiệm du lịch</div>
                        </div>
                        <div class="row">

                        </div>
                    </div>

                    <div class="post-ks">
                        <div class="box-title">
                            <div class="h2 title-dl-vn">Khách sạn</div>
                        </div>
                        <div class="row">
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-ks sticky" style="position: absolute; top: initial; width: 100%;">
                        <div class="form-title-ks">
                            Liên hệ khách sạn
                        </div>
                        <form>
                            <label>
                                <h5><i class="fa fa-map-marker"></i>Họ và tên</h5>
                                <input class="form-cotrol" type="text" name="" placeholder="Họ và tên">
                            </label>
                            <label>
                                <h5><i class="fa fa-map-marker"></i>Tên khách sạn liên hệ</h5>
                                <input class="form-cotrol" type="text" name="" placeholder="Tên khách sạn liên hệ">
                            </label>

                            <label>
                                <h5><i class="fa fa-map-marker"></i>Địa chỉ Email hoặc số điện thoại</h5>
                                <input class="form-cotrol" type="text" name="" placeholder="email hoặc số điện thoại">
                            </label>
                            <label>
                                <h5><i class="fa fa-map-marker"></i>Điểm đến(tỉnh hoặc thành phố)</h5>
                                <input class="form-cotrol" type="text" name="" placeholder="Nhập điểm đến">
                            </label>
                            <label>
                                <h5><i class="fa fa-calendar"></i>Ngày nhận phòng</h5>
                                <input class="form-cotrol" type="date" name="">
                            </label>
                            <label>
                                <h5><i class="fa fa-calendar"></i>Ngày trả phòng</h5>
                                <input class="form-cotrol" type="date" name="">
                            </label>
                            <label>
                                <input class="form-cotrol submit-gui" type="submit" name="" value="Gửi">
                            </label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="view-tinh-most" style="margin-top: 20px;">
                <div class="box-title">
                    <div class="h2 title-dl-vn">Điểm xem nhiều nhất</div>
                </div>
                <div class="list-view-most">
                    <div class="col-md-3">
                        <div class="box-view-most">
                            <img src="https://tourre.vn/wp-content/uploads/2020/11/da-nang.jpg">
                            <div class="content-view-most">
                                <ul>
                                    <li>
                                        <a href="https://tourre.vn/da-nang/"> <i class="fa fa-map-marker"></i> Đà Nẵng </a>
                                    </li>
                                    <li>
                                        <a href="https://tourre.vn/da-nang/"> <i class="fa fa-align-justify"></i> Tổng quan du lịch </a>
                                    </li>
                                    <li>
                                        <a href="https://tourre.vn/kinh-nghiem-da-nang/">
                                            <i class="fa fa-map-marker"></i>
                                            Kinh nghiệm
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-view-most">
                            <img src="https://tourre.vn/wp-content/uploads/2020/11/ha-giang.jpg">
                            <div class="content-view-most">
                                <ul>
                                    <li>
                                        <a href="https://tourre.vn/ha-giang/"> <i class="fa fa-map-marker"></i> Hà Giang </a>
                                    </li>
                                    <li>
                                        <a href="https://tourre.vn/ha-giang/"> <i class="fa fa-align-justify"></i> Tổng quan du lịch </a>
                                    </li>
                                    <li>
                                        <a href="https://tourre.vn/gioi-thieu-ha-giang/">
                                            <i class="fa fa-map-marker"></i>
                                            Giới thiệu
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://tourre.vn/khach-san-ha-giang/">
                                            <i class="fa fa-list-ul"></i>
                                            khách sạn
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-view-most">
                            <img src="https://tourre.vn/wp-content/uploads/2020/12/chua-tam-chuc.jpg">
                            <div class="content-view-most">
                                <ul>
                                    <li>
                                        <a href="https://tourre.vn/ha-nam/"> <i class="fa fa-map-marker"></i> Hà Nam </a>
                                    </li>
                                    <li>
                                        <a href="https://tourre.vn/ha-nam/"> <i class="fa fa-align-justify"></i> Tổng quan du lịch </a>
                                    </li>
                                    <li>
                                        <a href="https://tourre.vn/dia-diem-du-lich-ha-nam/">
                                            <i class="fa fa-map-marker"></i>
                                            Địa điểm du lịch
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://tourre.vn/kinh-nghiem-du-lich-ha-nam/">
                                            <i class="fa fa-list-ul"></i>
                                            Kinh nghiệm
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-view-most">
                            <img src="https://tourre.vn/wp-content/uploads/2020/11/ha-noi.jpg">
                            <div class="content-view-most">
                                <ul>
                                    <li>
                                        <a href="https://tourre.vn/ha-noi/"> <i class="fa fa-map-marker"></i> Hà Nội </a>
                                    </li>
                                    <li>
                                        <a href="https://tourre.vn/ha-noi/"> <i class="fa fa-align-justify"></i> Tổng quan du lịch </a>
                                    </li>
                                    <li>
                                        <a href="https://tourre.vn/khach-san-ha-noi/">
                                            <i class="fa fa-map-marker"></i>
                                            Khách sạn
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://tourre.vn/kinh-nghiem-ha-noi/">
                                            <i class="fa fa-list-ul"></i>
                                            Kinh nghiệm
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

