
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="7k6R3cvz7ARALWRQvnN2HFgJ8wH-u9HgTRv9sVDxMpk" />

    <title>
        Dịch vụ đặt tour du lịch/ Khách sạn số 1 tại Hà Nội
    </title>
    <!-- jQuery 1.8 or later, 33 KB -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Fotorama from CDNJS, 19 KB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <script src="~/js/Sticky.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="~/css/carousel.css" rel="stylesheet" />
    <link href="~/css/addtoany.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="description" content="Đặt tour giá rẻ trực tuyến giá tốt nhất miền bắc khởi hành hàng ngày đi tour du lịch Hạ Long Sapa và Ninh Bình với chất lượng tốt nhất cam kết đúng dịch vụ" />
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />

    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">

    <meta property="og:updated_time" content="2021-03-29T11:48:13+07:00">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="generator" content="WordPress 5.5.3" />

    <meta property="og:url" content="https://tourre.vn/">
    <link rel="canonical" href="https://tourre.vn/" />
    <link rel="stylesheet" type="text/css" href="https://tourre.vn/wp-content/themes/travel-theme/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://tourre.vn/wp-content/themes/travel-theme/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://tourre.vn/wp-content/themes/travel-theme/css/owl.carousel.min.css">
    <link rel='stylesheet' id='wp-block-library-css' href='https://tourre.vn/wp-includes/css/dist/block-library/style.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='https://tourre.vn/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.4' type='text/css' media='all' />
    <link rel='stylesheet' id='addtoany-css' href='https://tourre.vn/wp-content/plugins/add-to-any/addtoany.min.css?ver=1.15' type='text/css' media='all' />
    <script type='text/javascript' src='https://tourre.vn/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp' id='jquery-core-js'></script>
    <script type='text/javascript' src='https://tourre.vn/wp-content/plugins/add-to-any/addtoany.min.js?ver=1.1' id='addtoany-js'></script>
    <link rel="https://api.w.org/" href="https://tourre.vn/wp-json/" />
    <link rel="alternate" type="application/json" href="https://tourre.vn/wp-json/wp/v2/pages/6" />
    <link rel='shortlink' href='https://tourre.vn/' />
    <link rel="alternate" type="application/json+oembed" href="https://tourre.vn/wp-json/oembed/1.0/embed?url=https%3A%2F%2Ftourre.vn%2F" />
    <link rel="alternate" type="text/xml+oembed" href="https://tourre.vn/wp-json/oembed/1.0/embed?url=https%3A%2F%2Ftourre.vn%2F&#038;format=xml" />
</head>
<body>
    <!--Header-->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FH657C"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <a href="/Home/Index" class="custom-logo-link" rel="home" aria-current="page"><img width="1256" height="415" src="https://tourre.vn/wp-content/uploads/2020/10/cropped-Logo-tour-re2.jpg" class="custom-logo" alt="Dịch vụ đặt tour du lịch/ Khách sạn số 1 tại Hà Nội" srcset="https://tourre.vn/wp-content/uploads/2020/10/cropped-Logo-tour-re2.jpg 1256w, https://tourre.vn/wp-content/uploads/2020/10/cropped-Logo-tour-re2-300x99.jpg 300w, https://tourre.vn/wp-content/uploads/2020/10/cropped-Logo-tour-re2-1024x338.jpg 1024w, https://tourre.vn/wp-content/uploads/2020/10/cropped-Logo-tour-re2-768x254.jpg 768w" sizes="(max-width: 1256px) 100vw, 1256px" /></a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="cam-nang-menu" style="display: inline-block">
                    <div class="lien-he-header">
                        <a class="phone-right" href="tel: 0974624983"><i class="fa fa-phone-square"></i>  0969453725</a>
                        @using (Html.BeginForm("Index", "UserLogin", new
                        {
                            ReturnUrl = ViewBag.ReturnUrl
                        }, FormMethod.Post))
                        {
                            <div id="btnLogin" class="btn btn-primary btn-sm btn-block" style="width:70px;float:right;margin-left:20px">
                                <a href="/UserLogin/Index" style="color:white;font-size:17px;">Login</a>
                            </div>
                        }

                        @if (ViewBag.User != null)
                        {
                   
                        <div style="float:right;margin-left:50px"><span style="font-size:20px;font-style:italic"><span onclick="" id="welcom">Xin chào :<a href="/UserLogin/Mytour"> @ViewBag.User</a> </span> <a style="color:red;margin-left:20px;" href="/UserLogin/LogOut"><i class="fa fa-sign-out"></i>Log out</a></span></div>

                        <script type="text/javascript">
                            $("#btnLogin").hide();
                     
                        </script>
                            
                        }
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!--Header-->
    <header class="" id="navbar">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-8" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item active menu-item-8 nav-item"><a title="Trang chủ" href="/Home/Index" class="nav-link">Trang chủ</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-452" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-452 nav-item">
                            <a title="Tour du lịch" href="/Tours/Index" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle nav-link" id="menu-item-dropdown-452">Tour Trong Nước</a>
                            <!--
                                <ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-452" role="menu">
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-4389" class="menu-item menu-item-type-taxonomy menu-item-object-du-lich-tour menu-item-4389 nav-item"><a title="Tour Hè" href="#" class="dropdown-item">Tour Hè</a></li>
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-2072" class="menu-item menu-item-type-taxonomy menu-item-object-du-lich-tour menu-item-2072 nav-item"><a title="Tour Hà Nội" href="#" class="dropdown-item">Tour Hà Nội</a></li>
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-940" class="menu-item menu-item-type-taxonomy menu-item-object-du-lich-tour menu-item-940 nav-item"><a title="Tour Ninh Bình" href="#" class="dropdown-item">Tour Ninh Bình</a></li>
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-941" class="menu-item menu-item-type-taxonomy menu-item-object-du-lich-tour menu-item-941 nav-item"><a title="Tour Sapa" href="#" class="dropdown-item">Tour Sapa</a></li>
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1638" class="menu-item menu-item-type-taxonomy menu-item-object-du-lich-tour menu-item-1638 nav-item"><a title="Tour Đông Tây Bắc" href="#" class="dropdown-item">Tour Đông Tây Bắc</a></li>
                            </ul>
                            -->
                        </li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-81 nav-item">
                            <a title="Tour Nước Ngoài" href="/Tout/Index" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle nav-link" id="menu-item-dropdown-81">Tour Nước Ngoài</a>
                            <!--
                                <ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-81" role="menu">
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-947" class="menu-item menu-item-type-taxonomy menu-item-object-types menu-item-947 nav-item"><a title="" href="#" class="dropdown-item">Tour Châu Á</a></li>
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-948" class="menu-item menu-item-type-taxonomy menu-item-object-types menu-item-948 nav-item"><a title="" href="#" class="dropdown-item">Tour Châu Âu</a></li>
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-949" class="menu-item menu-item-type-taxonomy menu-item-object-types menu-item-949 nav-item"><a title="" href="#" class="dropdown-item">Tour Châu Mỹ</a></li>
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-950" class="menu-item menu-item-type-taxonomy menu-item-object-types menu-item-950 nav-item"><a title="" href="#" class="dropdown-item">Tour Châu Phi</a></li>
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-951" class="menu-item menu-item-type-taxonomy menu-item-object-types menu-item-951 nav-item"><a title="" href="#" class="dropdown-item">Tour Khám Phá Đại Dương</a></li>
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-952" class="menu-item menu-item-type-taxonomy menu-item-object-types menu-item-952 nav-item"><a title="" href="#" class="dropdown-item">Tour Khám Phá Vũ Trụ</a></li>
                            </ul>
                            -->
                        </li>
                        
                                             @*   <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-348 nav-item">
                                                <a title="Combo Du lịch" href="/News/Index" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle nav-link" id="menu-item-dropdown-348">Tin Tức</a>                                          
                                            </li>*@
                                           
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-20" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-20 nav-item"><a title="Điểm đến Du lịch" href="/Places/Index" class="nav-link">Điểm đến Du lịch</a></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <!--End-Header-->
    <!--Slide-->
    <div class="slider">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                <li data-target="#myCarousel" data-slide-to="4" class=""></li>
                <li data-target="#myCarousel" data-slide-to="5" class=""></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="https://tourre.vn/tour-bai-dinh-trang-an-hang-mua/"> <img src="https://tourre.vn/wp-content/uploads/2021/01/tour-bai-dinh-trang-an-hang-mua.jpg" style="width:100%;"> </a>
                </div>

                <div class="item ">
                    <a href="https://tourre.vn/tour-ha-long-1-ngay/"> <img src="https://tourre.vn/wp-content/uploads/2021/01/cover-tourre1-min.jpg" style="width:100%;"> </a>
                </div>

                <div class="item ">
                    <a href="https://tourre.vn/tour-ba-be-ban-gioc-3-ngay-2-dem/"> <img src="https://tourre.vn/wp-content/uploads/2021/01/cover-BB.jpg" style="width:100%;"> </a>
                </div>

                <div class="item ">
                    <a href="https://tourre.vn/tour-ha-giang-3-ngay-2-dem"> <img src="https://tourre.vn/wp-content/uploads/2021/01/Cover-HG-Web.jpg" style="width:100%;"> </a>
                </div>

                <div class="item ">
                    <a href="https://tourre.vn/tour-sapa-fansipan-2-ngay-1-dem/"> <img src="https://tourre.vn/wp-content/uploads/2021/03/cover-sapa-2.jpg" style="width:100%;"> </a>
                </div>

                <div class="item ">
                    <a href="https://tourre.vn/bao-gia-tour-du-lich-he/"> <img src="https://tourre.vn/wp-content/uploads/2021/03/cover-tour-he-1-scaled.jpg" style="width:100%;"> </a>
                </div>

            </div>
            <!--End-Slide-->
            <!--Side-->
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--End_Slide-->
    <!---->
    <!--Search Bar-->
    <div class="box-search">
        <div class="">

            @using (Html.BeginForm("Index", "Search", FormMethod.Post))
            {
                <div style="background-color: #007cba;height: 50px">
                    <div style="padding:10px;">
                        Loại hình du lịch:
                        <input type="radio" name="radio" data-id="1" class="rdtrongnuoc" value="11" />
                        Trong nước
                        <input style="margin-left:10px" type="radio" data-id="0" name="radio" class="rdnuocngoai" value="22" />
                        Nước ngoài
                    </div>
                </div>
                <table style="border:none">
                    <tr>
                        @*<td width="83">Điểm đến</td>
                            <td width="172">
                                <label for="textfield"></label>
                                <input type="text" name="textfield" id="textfield" />
                            </td>*@
                        <td width="70">
                            Điểm đến: <label for="select"></label>
                            <span>
                                <select class="textbox" name="diemden" id="diemden" style="width:150px">
                                    <option value="">--Chọn điểm đến--</option>
                                    <option value="0">Ninh Bình</option>
                                    <option value="1">Sapa</option>
                                    <option value="2">Hà Giang</option>
                                    <option value="3">Dubai</option>
                                    <option value="4">Phuket</option>
                                </select>
                            </span>
                        </td>

                        <td width="60">
                            Giá tour: <label for="select"></label>
                            <span>
                                <select class="textbox" name="giatour" id="giatour">
                                    <option value="0">--Giá tour--</option>
                                    <option value="1">500.000 - 5.000.000</option>
                                    <option value="2">5.000.000 - 10.000.000</option>
                                    <option value="3">10.000.000 - 20.000.000</option>
                                    <option value="4">20.000.000 - 40.000.000</option>
                                </select>
                            </span>
                        </td>
                        @*<td style="width:200px">
                            Lịch khởi hành: <span>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input name="datetime" type='datetime-local' class="form-control" style="width:200px;" />
                                    </div>
                                </div>
                            </span>
                        </td>*@
                        <td width="200">
                            <div class="contact-right">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="s" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary" type="submit">Tìm kiếm</button>
                                        </span>
                                    </div>
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>

    <!--End_Search Bar-->
    <!--Main-->
    <section class="content-home">
        <div class="container">
            <div class="row  mobile-st">
                <div class="col-md-4 animatable moveUp">
                    <div class="dich-vu-show">
                        <img src="/images/money.jpg">
                        <div class="ct-sv">
                            <div class="title-h1">
                                CAM KẾT GIÁ TỐT
                            </div>
                            <p>Tourre.vn cam kết giá bán tốt nhất cho tất cả các khách hàng</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animatable moveUp">
                    <div class="dich-vu-show">
                        <img src="/images/like.jpg">
                        <div class="ct-sv">
                            <div class="title-h1">
                                CHẤT LƯỢNG ĐI ĐẦU
                            </div>
                            <p>Chất lượng dịch vụ luôn luôn là tiêu chí hàng đầu đối với Tourre.vn</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animatable moveUp">
                    <div class="dich-vu-show">
                        <img src="/images/receptionist.jpg">
                        <div class="ct-sv">
                            <div class="title-h1">
                                HỖ TRỢ 24/7
                            </div>
                            <p>Đội ngũ nhân viên Tourre.vn luôn sẵn sàng hỗ trợ khách hàng bất kỳ thời gian nào</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Content_Render-->
            <div class="container body-content">
                @RenderBody()
            </div>
            <!--End-Conten_Render-->
        </div>
    </section>
    <!--End-Main-->
    <!--Footer-->
    <footer>
        <div class="container">
            <div class="col-md-5">
                <div class="content-col-1">
                    <div class="h4">TOURRE.VN</div>
                    <ul class="list-pageitem">
                        <li><a href="/Home/Role">Chính sách đặt tour</a> </li>
                        <li><a href="/Home/About">Về chúng tôi</a> </li>
                        <li><a href="/Home/Secur">Chính sách bảo mật</a> </li>
                        <li><a href="#">Đội ngũ Tourre</a> </li>
                        <li><a href="/Home/AboutUs">Khách hàng nói về chúng tôi</a> </li>
                        <li><a href="#">FAQ - Câu hỏi thường gặp</a> </li>

                        <li style="color:white">Số lượng truy cập:64</li>@* @ViewBag.Totaluser*@
                        <li><a href="#">Đang Online:1</a> </li> @*@ViewBag.Online*@
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-center-1">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.901059886332!2d105.84971521526757!3d21.03664448599416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abe4b6a28385%3A0x1c8de348e261d406!2sTour%20Re%20Company%20Limited!5e0!3m2!1svi!2s!4v1611718717615!5m2!1svi!2s" width="300" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="col-md-3">
                <div class="content-right-1">
                    <div class="title-f-right">
                        <p>
                            <i class="fa fa-home"></i> Địa chỉ: Số 24 Nguyễn Siêu, Hoàn Kiếm, Hà Nội
                        </p>
                        <p>
                            <i class="fa fa-phone"></i> Điện thoại: +84 974 624 983
                        </p>
                        <p>
                            <a href="mailto: bookingtourre@gmail.com"><i class="fa fa-envelope"></i> Email: bookingtourre@gmail.com</a>
                        </p>
                    </div>

                    <div class="social">
                        <a target="_blank" rel="nofollow" href="https://www.facebook.com/tourrevn"><img alt="Logo Link Facebook" data-src="" class="icon-footer bp-lazy-load icon-footer-facebook-v2" src="~/images/facebook.png"></a>
                        <a target="_blank" rel="nofollow" href="https://www.youtube.com/channel/UCc6hfqurDELDamAP9kL5XNg/featured"><img alt="Logo Link youtube" data-src="/wp-content/uploads/2020/10/youtube.png" class="icon-footer bp-lazy-load icon-footer-youtube-v2" src="~/images/youtube.png"></a>
                        <a target="_blank" rel="nofollow" href="https://zalo.me/0974624983"><img alt="Logo Link zalo" data-src="/wp-content/uploads/2020/10/zalo.png" class="icon-footer bp-lazy-load icon-footer-zalo-v2" src="~/images/zalo.png"></a>
                        <a target="_blank" rel="nofollow" href="https://www.facebook.com/tourrevn"><img alt="Logo Link instagram" data-src="/wp-content/uploads/2020/10/instagram.png" class="icon-footer bp-lazy-load icon-footer-instagram-v2" src="~/images/instagram.png"></a>
                        <a target="_blank" rel="nofollow" href="https://twitter.com/TourreVn"><img alt="Logo Link twitter" data-src="/wp-content/uploads/2020/10/twitter.png" class="icon-footer bp-lazy-load icon-footer-twitter-v2" src="~/images/twitter.png"></a>
                        <a target="_blank" rel="nofollow" href="https://www.pinterest.com/tourrevn/"><img alt="Logo Link Pinterest" data-src="/wp-content/uploads/2020/10/pinterest.png" class="icon-footer bp-lazy-load icon-footer-pinterest-v2" src="~/images/pinterest.png"></a>
                    </div>

                </div>
            </div>
        </div>
        <div class='phone'>
            <a href="https://zalo.me/0969453725">
                <div class="quick-alo-ph-circle"></div>
                <div class="quick-alo-ph-circle-fill"></div>
                <div class="quick-alo-ph-img-circle"></div>
            </a>
        </div>
    </footer>
    <!--End-Footer-->
    <script type="text/javascript">
        var mn = $("");
        mns = "fixed-header";
        hdr = $('header').height();

        $(window).scroll(function () {
            if ($(this).scrollTop() > hdr) {
                mn.addClass(mns);
            } else {
                mn.removeClass(mns);
            }
        });
    </script>

    <script type="text/javascript">

        jQuery(function ($) {

            // Function which adds the 'animated' class to any '.animatable' in view
            var doAnimations = function () {

                // Calc current offset and get all animatables
                var offset = $(window).scrollTop() + $(window).height(),
                    $animatables = $('.animatable');

                // Unbind scroll handler if we have no animatables
                if ($animatables.length == 0) {
                    $(window).off('scroll', doAnimations);
                }

                // Check all animatables and animate them if necessary
                $animatables.each(function (i) {
                    var $animatable = $(this);
                    if (($animatable.offset().top + $animatable.height() - 20) < offset) {
                        $animatable.removeClass('animatable').addClass('animated');
                    }
                });

            };

            // Hook doAnimations on scroll, and trigger a scroll
            $(window).on('scroll', doAnimations);
            $(window).trigger('scroll');

        });
    </script>
    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            navText: [
                "<i class='fa fa-caret-left'></i>",
                "<i class='fa fa-caret-right'></i>"
            ],
            autoplay: true,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 2
                }
            }
        })
    </script>

    <script type="text/javascript">
        $('.tour-vn').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            navText: [
                "<i class='fa fa-caret-left'></i>",
                "<i class='fa fa-caret-right'></i>"
            ],
            autoplay: true,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 7
                }
            }
        })
    </script>

    <script type="text/javascript">
        $('.tour-vn').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            navText: [
                "<i class='fa fa-caret-left'></i>",
                "<i class='fa fa-caret-right'></i>"
            ],
            autoplay: true,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>
    <!-- <script type="text/javascript">
    $(document).ready(function(){
    $('*').bind('cut copy paste contextmenu', function (e) {
        e.preventDefault();
    })});
    </script> -->
    <script>
        $(".event-type-select").change(function () {
            var selectedEventType = this.options[this.selectedIndex].value;
            if (selectedEventType == "all") {
                $('.list-ks-page').removeClass('hidden');
            } else {
                $('.list-ks-page').addClass('hidden');
                $('.list-ks-page[data-eventtype="' + selectedEventType + '"]').removeClass('hidden');
            }
        });
    </script>
    <script type="text/javascript">

        $('[data-search]').on('keyup', function () {
            var searchVal = $(this).val();
            var filterItems = $('[data-filter-item]');

            if (searchVal != '') {
                filterItems.addClass('hidden');
                $('[data-filter-item][data-filter-name*="' + searchVal.toLowerCase() + '"]').removeClass('hidden');
            } else {
                filterItems.removeClass('hidden');
            }
        });
    </script>

    <script type="text/javascript">
        function formatNumber(num) {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.")
        }
    </script>

    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 200) {
                $('header').addClass('fixed-header');
            }
            else {
                $('header').removeClass('fixed-header');
            }
        });

    </script>
    <script type='text/javascript' src='https://tourre.vn/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=7.4.4' id='wp-polyfill-js'></script>
    <script type='text/javascript' id='wp-polyfill-js-after'>
        ('fetch' in window) || document.write('<script src="https://tourre.vn/wp-includes/js/dist/vendor/wp-polyfill-fetch.min.js?ver=3.0.0"></scr' + 'ipt>'); (document.contains) || document.write('<script src="https://tourre.vn/wp-includes/js/dist/vendor/wp-polyfill-node-contains.min.js?ver=3.42.0"></scr' + 'ipt>'); (window.DOMRect) || document.write('<script src="https://tourre.vn/wp-includes/js/dist/vendor/wp-polyfill-dom-rect.min.js?ver=3.42.0"></scr' + 'ipt>'); (window.URL && window.URL.prototype && window.URLSearchParams) || document.write('<script src="https://tourre.vn/wp-includes/js/dist/vendor/wp-polyfill-url.min.js?ver=3.6.4"></scr' + 'ipt>'); (window.FormData && window.FormData.prototype.keys) || document.write('<script src="https://tourre.vn/wp-includes/js/dist/vendor/wp-polyfill-formdata.min.js?ver=3.0.12"></scr' + 'ipt>'); (Element.prototype.matches && Element.prototype.closest) || document.write('<script src="https://tourre.vn/wp-includes/js/dist/vendor/wp-polyfill-element-closest.min.js?ver=2.0.2"></scr' + 'ipt>');
    </script>
    <script type='text/javascript' src='https://tourre.vn/wp-includes/js/dist/i18n.min.js?ver=bb7c3c45d012206bfcd73d6a31f84d9e' id='wp-i18n-js'></script>
    <script type='text/javascript' src='https://tourre.vn/wp-includes/js/dist/vendor/lodash.min.js?ver=4.17.15' id='lodash-js'></script>
    <script type='text/javascript' id='lodash-js-after'>
        window.lodash = _.noConflict();
    </script>
    <script type='text/javascript' src='https://tourre.vn/wp-includes/js/dist/url.min.js?ver=9dd4e33d1648e90d1390113c29d21f27' id='wp-url-js'></script>
    <script type='text/javascript' src='https://tourre.vn/wp-includes/js/dist/hooks.min.js?ver=b4778690e29d8a2b7518413652ba30c4' id='wp-hooks-js'></script>
    <script type='text/javascript' id='wp-api-fetch-js-translations'>
        (function (domain, translations) {
            var localeData = translations.locale_data[domain] || translations.locale_data.messages;
            localeData[""].domain = domain;
            wp.i18n.setLocaleData(localeData, domain);
        })("default", { "translation-revision-date": "2021-01-06 14:54:27+0000", "generator": "GlotPress\/3.0.0-alpha.2", "domain": "messages", "locale_data": { "messages": { "": { "domain": "messages", "plural-forms": "nplurals=1; plural=0;", "lang": "vi_VN" }, "You are probably offline.": ["C\u00f3 th\u1ec3 b\u1ea1n \u0111ang ngo\u1ea1i tuy\u1ebfn."], "Media upload failed. If this is a photo or a large image, please scale it down and try again.": ["T\u1ea3i l\u00ean media kh\u00f4ng th\u00e0nh c\u00f4ng. N\u1ebfu \u0111\u00e2y l\u00e0 h\u00ecnh \u1ea3nh c\u00f3 k\u00edch th\u01b0\u1edbc l\u1edbn, vui l\u00f2ng thu nh\u1ecf n\u00f3 xu\u1ed1ng v\u00e0 th\u1eed l\u1ea1i."], "An unknown error occurred.": ["C\u00f3 l\u1ed7i n\u00e0o \u0111\u00f3 \u0111\u00e3 x\u1ea3y ra."], "The response is not a valid JSON response.": ["Ph\u1ea3n h\u1ed3i kh\u00f4ng ph\u1ea3i l\u00e0 m\u1ed9t JSON h\u1ee3p l\u1ec7."] } }, "comment": { "reference": "wp-includes\/js\/dist\/api-fetch.js" } });
    </script>
    <script type='text/javascript' src='https://tourre.vn/wp-includes/js/dist/api-fetch.min.js?ver=8773a93ea0d1278a2eaa147fdb6eb96d' id='wp-api-fetch-js'></script>

    <script type='text/javascript' src='https://tourre.vn/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.4' id='contact-form-7-js'></script>

    <script type='text/javascript' src='https://tourre.vn/wp-content/plugins/table-of-contents-plus/front.min.js?ver=2002' id='toc-front-js'></script>
    <script type='text/javascript' src='https://tourre.vn/wp-includes/js/wp-embed.min.js?ver=5.5.3' id='wp-embed-js'></script>
    <script async="async" type='text/javascript' src='https://tourre.vn/wp-content/plugins/akismet/_inc/form.js?ver=4.1.9' id='akismet-form-js'></script>
    <!--End_Script-->
</body>
</html>
<script type="text/javascript" src="https://tourre.vn/wp-content/themes/travel-theme/js/js.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        console.log("document ready!");

        var $sticky = $('.sticky');
        var $stickyrStopper = $('.tour-du-lich-page');
        if (!!$sticky.offset()) { // make sure ".sticky" element exists

            var generalSidebarHeight = $sticky.innerHeight();
            var stickyTop = $sticky.offset().top;
            var stickOffset = 20;
            var demo = stickOffset + 100;
            var stickyStopperPosition = $stickyrStopper.offset().top;
            var stopPoint = stickyStopperPosition
            var diff = stopPoint + stickOffset;

            $(window).scroll(function () { // scroll event
                var windowTop = $(window).scrollTop(); // returns number

                if (stopPoint < windowTop) {
                    // 		   $sticky.css({ position: 'fixed', width: '25%', top: stickOffset +'px' });
                    $sticky.css({ position: 'absolute', top: 'auto', width: '100%' });
                } else if (stickyTop < windowTop + stickOffset) {
                    $sticky.css({ position: 'fixed', width: '25%', top: stickOffset + 'px' });
                } else {
                    $sticky.css({ position: 'absolute', top: 'initial', width: '100%' });
                }
            });

        }
    });
</script> 